.container {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100px;
    grid-template-areas: 
    "left center right";
}
.contents-list-left {
    grid-area: left;
}
.tweet-box {
    grid-area: center;
}
.contents-list-right {
    grid-area: right;
}
body {
    margin: 0px;
}
.contents {
    padding-top: 120px;
    text-align: center;
    background: #fff;
}
.tweet {
    margin: -3px 30%;
    height: 80px;
    border: solid 3px #a9a9a9;
    border-radius: 10px;
}
.favorite-button {
    color: #c0c0c0;
    border: solid 1px #c0c0c0;
    margin-top: 25px;
    margin-left: 150px;
}