body {
    margin: 0px;
    background: #fff;
}
.container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 22% 48% 30%;
    grid-template-areas: 
    "leftContents tweetBox rightContents"
    "leftContents tweetList rightContents";
}
.contents-list-left {
    grid-area: leftContents;
}
.tweet-box {
    grid-area: tweetBox;
    border: solid 3px #a9a9a9;
    height: auto;
}
.tweet-textbox {
    resize: none;
    width: 640px;
    height: 80px;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 40px 20px; 
    border: none;
    outline: none;
}
.tweet-textbox::placeholder {
    color: #c0c0c0;
}
.splid-line {
    background-color: #c0c0c0;
    margin: 10px 20px;
}
.tweet-button {
    background-color: #00bfff;
    color: #fff;
    border: solid 1px #00bfff;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 550px;
}
.tweet-button:hover {
    background-color: #1e90ff;
}
.contents-list-right {
    grid-area: rightContents;
}
.tweet-list {
    text-align: center;
    grid-area: tweetList;
}
.tweet {
    margin-top: -3px;
    height: 80px;
    border: solid 3px #a9a9a9;
}
.favorite-button {
    color: #c0c0c0;
    border: solid 1px #c0c0c0;
    margin-top: 25px;
    margin-left: 150px;
}