body {
    /* padding: 0px; */
    margin: 0px;
}
header {
    position: fixed;
    height: 100px;
    width: 100%;
     /* margin: 50px; */
    /* padding-top: 50px; */
    background-color: aqua;
    padding: 0px;
}
.contents {
    padding-top: 200px;
    text-align: center;
    background: #fff;
}
.tweet {
    margin: -3px 30%;
    height: 80px;
    border: solid 3px #a9a9a9;
    border-radius: 10px;
}
.favorite-button {
    color: #00bfff;
    border: solid 1px #87cdfa;
    margin-top: 25px;
    margin-left: 150px;
}